.toast-container {
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: none;
    position: fixed;
    gap: .5rem;
    padding: 0 1rem;
}

.toast {
    display: grid;
    grid-template-columns: min-content 20rem min-content;
    grid-template-rows: min-content min-content;
    gap: .375rem;
    padding: .75rem;
    border-radius: 1rem;
    z-index: 3;
}

.toast--success { 
    background-color: #F0F7F3;
    border: 1px solid #50DB6C;
}

.toast--error {
    background-color: #fff1f1;
    border: 1px solid #D23817;
}

.toast--info {
    background-color: #E2ECF7;
    border: 1px solid #026EE1;
}

.toast--warning {
    background-color: #F9F2E5;
    border: 1px solid #EB9200;
}

.toast__title {
    grid-column: 2;
    grid-row: 1;
    color: #4b4b4b;
    font-weight: bold;
}

.toast__message {
    grid-column: 2;
    grid-row: 2;
    color: #262626;
    font-size: small;
}

.toast__position, .toast__position--top {
    top: 1rem;
}

.toast__position--bottom {
    top: unset;
    bottom: 1rem;
    flex-direction: column-reverse;
}

.toast__alignment, .toast__alignment--right {
    right: 1rem;
}

.toast-close {
    content: url('../icons/close-outline.svg');
    grid-column: 3;
    grid-row: 1 / 3;
    justify-items: center;
    padding: .375rem;
    border-radius: .375rem;
    cursor: pointer;
}


.toast-close:hover {
    background-color: white;
}

.toast__icon {
    display: flex;
    padding: .5rem;
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: center;
    border-radius: .75rem;
}

.toast-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

.toast-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid #eaeaea;
    padding: 1.5rem;
    border-radius: .75rem;
    min-width: 22rem;
}

.toast-form input, .toast-form textarea {
    padding: .5rem;
    border-radius: .375rem;
    border: 1px solid #eaeaea;
    font-family: 'Quicksand', sans-serif;
}

.toast-form input {
    margin-bottom: 1rem;
}

.toast-form label {
    color: #4b4b4b;
}

.toast-form textarea {
    min-height: 5rem;
}

.toast-buttons {
    display: flex;
    gap: .75rem;
    justify-content: center;
    margin-top: 1.5rem;
}

#toast_error {
    background: #D23817;
    color: white;
}

#toast_info {
    background: #026EE1;
    color: white;
}

#toast_warning {
    background: #EB9200;
    color: white;
}

#toast_success {
    background: #2fc04e;
    color: white;
}